{% block content %}
  <html>
    <style>
      .container {
        max-width: 500px;
        margin: 4rem auto;
        padding: 2rem;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        font-family: sans-serif;
        text-align: center;
      }
    </style>

    <div class="container">
      <h2>Check your email</h2>
      <p>If the email provided is linked to an account, you will receive an email with the instructions to reset your password.</p>
    </div>
  </html>
{% endblock %}

